<!doctype html>

<html>
<head>
	<title>Reconnectify</title>  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{> styles}}
</head>

<body>
    <div class="container">

	    {{> navbar}}
	    <main class="mdl-layout__content">
			<div class="page-content">
				<!-- Put Your Content Here -->
				<h3>Log-In</h3>
				<div class="form-input">
					<label for="username">Username:</label>
					<input type="text" style ="width:300px;" class="form-control" id="username" 
					placeholder="Username" name="username">
				</div>
				<div class="form-input">
					<label for="password">Password:</label>
					<input type="password" style ="width:300px;" class="form-control" id="password" 
					placeholder="Password" name="password">
				</div>
			        <br>
			        <input type =  "checkbox" id="rememberBtn"> Remember me <br>
			        <br>
					<input type="submit" id="submitBtn" class="btn btn-default disabled" 
					value="Enter"></input>
				</form>
			</div>
		</main>

		{{> scripts}}
	</div>
</body>
</html>
